.wrapper{
    background: #333;
    margin: 0;
    color: #f1f1f1;
    font-size: 20px;
    p{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 15px 0;
    }
}
